flows/OpportunityStageAge_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Determines if we need to close out an existing record.</description>
        <name>Existing_Record</name>
        <label>Existing Record?</label>
        <locationX>17</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Record</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Opportunity_Stage_Age</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ExistingOpportunityStageAgeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Record</targetReference>
            </connector>
            <label>Yes - Existing Opportunity Stage Age</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Closed</name>
        <label>Is Opportunity Closed?</label>
        <locationX>18</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Create_Stage_Age_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Opportunity Open</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Opportunity Closed</label>
        </rules>
    </decisions>
    <description>Determines if an existing OpportunityStageAge record needs to be closed, and then determines if a new one needs to be created based on the IsClosed value.</description>
    <interviewLabel>OpportunityStageAge_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityStageAge_Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Stage_Age_Record</name>
        <label>Create Stage Age Record</label>
        <locationX>17</locationX>
        <locationY>435</locationY>
        <assignRecordIdToReference>var_OpportunityStageAgeId</assignRecordIdToReference>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>var_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityStageAge__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Opportunity_Stage_Age</name>
        <label>Find Opportunity Stage Age</label>
        <locationX>17</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityStageAge__c</object>
        <outputAssignments>
            <assignToReference>var_ExistingOpportunityStageAgeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Existing Record with the End Time to close the Record&apos;s time tracking</description>
        <name>Update_Existing_Record</name>
        <label>Update Existing Record</label>
        <locationX>377</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Is_Opportunity_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ExistingOpportunityStageAgeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityStageAge__c</object>
    </recordUpdates>
    <startElementReference>Find_Opportunity_Stage_Age</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_ExistingOpportunityStageAgeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_IsClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OpportunityStageAgeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
