flows/test_regular_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>send an email</description>
        <name>send_more_mail</name>
        <label>send more mail</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>Contact.send_email_to_bill</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>subflow_test</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.send_email_to_bill</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>test_regular flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test_regular flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>send_more_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jim</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflow_test</name>
        <label>subflow_test</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <flowName>test_autolaunch_flow</flowName>
    </subflows>
</Flow>
